{% extends 'base.html.twig' %}

{% block title %} symRecipe - Acceuil {% endblock%}

{% block body %}
  <div class="container mt-4">
    <div class="jumbotron">
    <h1 class="display-4">bienenue sur symRecipe </h1>
    <p class="lead">symRecipe est une application que va permettre de cree des recette a base d'inredines que tu
       auras toimeme creeer , Tu pourras 
      partager tes recettes a la communaute du site , ou bien les garder en privees
    </p>
    <hr class="my-4">
    <p>pour commencer rendez vouz sur la page d'inscription pur utiliser l'application</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">inscription</a>
    </p>
  </div>
  </div>
{% endblock %}